/*!
Theme Name: Incorta
Theme URI: http://www.incortatest.com
Author: Incorta
Author URI: http://www.incortatest.com
Description: This is a business theme
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: incorta
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Default
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*------------------------------------------------------------
# Default CSS
--------------------------------------------------------------*/
img {
    max-width: 100%;
    height: auto
}
input:focus,
textarea:focus,
select:focus,
button:focus {
    outline: none;
}
article.sticky {
    position: relative
}
article.sticky:after {
    content: "\f08d";
    font-family: FontAwesome;
    font-size: 30px;
    
    position: absolute;
    right: 20px;
    top: 20px;

    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
body.admin-bar .is-sticky .header-top-area {
    top: 30px !important;
}
.js_active { overflow-x: hidden }
/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute !important;
    width: 1px;
    word-wrap: normal !important; /* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
    outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
    display: inline;
    float: left;
    margin-right: 1.5em;
}

.alignright {
    display: inline;
    float: right;
    margin-left: 1.5em;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
    clear: both;
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
    margin: 0 0 1.5em;
    background: #f9f9f9;
    padding: 25px;
    margin-bottom: 30px;
}

.widget select {
    max-width: 100%;
}

.footer-top-area .widget {
    margin-bottom: 0;
    padding: 0;
    background: transparent;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
    display: block;
}

.updated:not(.published) {
    display: none;
}
.page-content,
.entry-content,
.entry-summary {
   /* margin: 1.5em 0 0;*/
}
.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
    word-wrap: break-word;
}

.bypostauthor {
    display: block;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
    /* Theme Footer (when set to scrolling) */
    display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
    display: block;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
    border: none;
    margin-bottom: 0;
    margin-top: 0;
    padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
    max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
    display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
    margin-bottom: 1.5em;
    max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.wp-caption .wp-caption-text {
    margin: 0.8075em 0;
}

.wp-caption-text {
    text-align: center;
}

/*--------------------------------------------------------------
# Galleries CSS, Widgets CSS, Page CSS
--------------------------------------------------------------*/
.gallery {
    margin-bottom: 1.5em;
}
.gallery-item {
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin-bottom: 10px;
    width: 100%;
}
.gallery-icon img {
    margin-bottom: 5px;
}
.gallery-columns-2 .gallery-item {
    max-width: 50%;
}
.gallery-columns-3 .gallery-item {
    max-width: 33.33%;
}
.gallery-columns-4 .gallery-item {
    max-width: 25%;
}
.gallery-columns-5 .gallery-item {
    max-width: 20%;
}
.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}
.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}
.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}
.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}
.gallery-caption {
    display: block;
    font-size: 12px;
}
article.page,
article.post,
article.project {
    background: #f9f9f9;
    margin-bottom: 30px;
    padding: 25px;
}
.home article.page {
    padding: 0;
    margin: 0;
    background: transparent;
}
article.post a.button {
    margin-top: 10px
}
.incorta-featured-content,
.post-thumbnail {
    margin-bottom: 20px;
    display: block;
}
.entry-header {
    margin-bottom: 20px;
}
.entry-header .entry-title {
    display: inline-block;
    font-size: 26       px;
    margin-bottom: 10px;
    color: #333;
}
.incorta-featured-content {
    margin-bottom: 20px;
}
article.post a,
.entry-header a:hover,
.entry-header .entry-title a,
.entry-header .entry-title a:hover {
    color: #333
}
.entry-meta,
.entry-footer {
    font-size: 12px;
    opacity: .7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
}
.entry-meta {
    font-size: 13px
}
.entry-footer {
    margin-top: 20px;
    display: block;
    clear: both;
}
.entry-footer .cat-links,
.entry-footer .tags-links,
.entry-footer .edit-links,
.entry-footer .comments-link {
    padding-right: 15px;
    display: inline-block;
}
.entry-meta > span {
    padding-right: 15px;
}
.entry-meta i.fa,
.entry-footer i.fa {
    padding-right: 5px;
    color: #333;
    font-size: 14px;
}
.widget-title,
.widgettitle {
    margin-bottom: 30px;
    font-size: 20px;
    position: relative;
    display: inline-block;
}
.widget-title:before,
.widgettitle:before {
    position: absolute;
    content: "";
    background: #333;
    width: 100%;
    height: 3px;
    top: 33px;
    left: 0;
}
.widget_calendar table {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    width: 100%;
}
.widget_calendar table td,
.widget_calendar table th {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    padding: 5px;
    text-align: center;
}
.widget_search {
    padding: 25px;
    overflow: hidden;
    background-color: #f9f9f9;
}
.widget_search label {
    width: 70%;
    float: left;
}
.widget_search input[type="search"] {}
.widget_search input[type="submit"] {
    width: 30%;
    float: left;
}
.search-form input[type="search"],
.post-password-form input[type="password"] {
    height: 45px;
    width: 100%;
    border-bottom: 2px solid #333;
    border-left: 2px solid #333;
    border-top: 2px solid #333;
    border-right: none;
    padding: 10px;
}
.search-form input[type="submit"],
.post-password-form input[type="submit"] {
    background: #fff;
    border: 2px solid #333;
    height: 45px;
    padding: 0 18px;
    margin-left: -5px;
    font-weight: 900;
    color: #333;
    -webkit-transition: .36s;
    transition: .36s;
}
.search-form input[type="search"]:hover,
.search-form input[type="search"]:focus,
.post-password-form input[type="password"]:hover,
.post-password-form input[type="password"]:focus {
    outline: none;
}
.search-form input[type="submit"]:hover,
.search-form inputt[type="submit"]:focus,
.post-password-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:focus {
    outline: none;
}
.search-form input[type="submit"]:hover,
.post-password-form input[type="submit"]:hover {
    background: #333;
    color: #fff;
}
.widget_search .widget-title {
    display: none
}
.widget_calendar table caption {
    font-weight: 700;
}
.widget select {
    width: 100%;
    padding: 10px;
    border: 2px solid #333;
}
.widget a {
    color: #444;
    -webkit-transition: .36s;
    transition: .36s;
}
.widget a:hover {
    color: #333
}
.widget ul {
    line-height: 30px;
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.widget ul ul {
    padding-left: 15px
}
.widget ul ul ul {
    padding-left: 8px
}
.rss-date {
    color: #999;
    font-size: 12px;
    font-weight: 300;
}
.rssSummary {
    font-size: 13px
}
.widget_rss cite {
    color: #999;
    font-size: 13px;
    font-weight: 300;
}
.widget_rss li {
    margin-bottom: 15px
}
.tagcloud a {
    border: 2px solid #333;
    padding: 10px;
    display: inline-block;
    margin-bottom: 5px;
}
.cat-links a {
    text-decoration: underline;
}
.entry-content table {
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    margin-bottom: 20px;
}
.entry-content table td,
.entry-content table th {
    border-right: 1px solid #ddd;
    border-top: 1px solid #ddd;
    padding: 10px;
}
.entry-content dd,
.comment-content dd {
    margin-bottom: 15px;
}
.entry-content ul,
.entry-content ol {
    padding-left: 15px;
    margin-bottom: 10px;
}
nav.navigation.posts-navigation a,
nav.navigation.post-navigation a {
    color: #000;
}
.navigation.posts-navigation .nav-links,
.navigation.post-navigation .nav-links {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 30px;
    overflow: hidden;
    padding: 10px 0;
}
.navigation.posts-navigation .nav-links > div,
.navigation.post-navigation .nav-links > div {
    float: left;
    width: 49%;
}
.navigation.posts-navigation .nav-links > div.nav-next,
.navigation.post-navigation .nav-links > div.nav-next {
    float: right;
    text-align: right;
}
.navigation.posts-navigation .nav-links a,
.navigation.post-navigation .nav-links a {
    display: inline-block;
    padding: 10px 15px;
    border: 2px solid #333;
    -webkit-transition: .36s;
    transition: .36s;
    font-weight: 900;
}
.navigation.posts-navigation .nav-links a:hover,
.navigation.post-navigation .nav-links a:hover {
    background: #333;
    color: #fff;
}
.search-results article.page .entry-summary {
    display: none
}
.error404 .widget_recent_entries {
    margin-top: 40px
}
.entry-content .page-links a {
    background: #333;
    color: #fff;
    padding: 5px 10px;
}
.entry-content .page-links {
    margin-top: 30px
}

/*--------------------------------------------------------------
# Comments CSS
--------------------------------------------------------------*/
.comments-title {
    margin-bottom: 35px;
    font-size: 26px;
    color: #000000;
}
.comment-list {
    max-width: 790px;
}
.comment-list,
.children {
    list-style: outside none none;
    margin: 0;
    padding: 0;
}
.says {
    display: none;
}
.comment-author.vcard img {
    float: left;
    margin-right: 18px;
}
.comment-content {
    color: #555555;
    padding-left: 50px;
}
.comment-content table {
    border-left: 1px solid #ddd;
    border-top: 1px solid #ddd;
    margin-bottom: 20px;
}
.comment-content table td,
.comment-content table th {
    border-bottom: 1px solid #ddd;
    border-right: 1px solid #ddd;
    padding: 10px;
}
.comment-content ul,
.comment-content ol {
    padding-left: 15px;
    margin-bottom: 10px;
}
.comment-author.vcard img {
    border-radius: 50%;
    position: relative;
    top: 10px;
}
b.fn {
    color: #666;
    font-size: 18px;
    text-transform: capitalize;
}
b.fn a,
.comments-area a {
    color: #000;
}
.comment-list > li,
.children article {
    margin-bottom: 30px;
}
.comment-metadata {
    font-size: 80%;
    margin-bottom: 10px;
}
.reply {
    text-align: right;
}
.reply a {
    color: #666;
    font-weight: 700;
    position: relative;
}
.reply a:before {
    position: absolute;
    content: "\f064";
    left: -18px;
    top: 0;
    font-family: FontAwesome;
}
.children {
    padding-left: 25px;
}
.comment-form p > input,
.comment-form p textarea {
    border: 2px solid #cfcfcf;
    color: #000;
    font-size: 14px;
    width: 100%;
    padding: 10px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    resize: none;
}
.comment-reply-title {
    margin-bottom: 30px;
}
.logged-in .comment-reply-title {
    margin-bottom: 30px;
}
.comment-form p > input:focus,
.comment-form p textarea:focus {
    border-color: #333;
    outline: none;
}
.comment-form {
    padding-right: 10px;
}
.logged-in .form-submit {
    bottom: 4px;
    right: 0;
}
.logged-in .comment-form-comment textarea {
    display: block;
    width: 100%;
}
.comment-form p > input[type="submit"] {
    background: transparent;
    color: #333;
    text-transform: uppercase;
    font-weight: 900;
    width: auto;
    margin-top: 10px;
    border: 2px solid #333;
}
.comment-form p > input[type="submit"]:hover {
    background: #333;
    color: #fff;
}
.bypostauthor {
    padding: 2px;
}