/* -----------------------------------------------------------
    Developed By    : Tanvirul Haque
    Version         : 1.0
------------------------------------------------------------*/
body {
    width: 100%;
    height: 100%;
    color: #122a41;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 1px;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
}
html,
body { height: 100% }
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    color: #333;
    font-weight: 700;
}
a {
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    -webkit-transition: all 0.36s;
    transition: all 0.36s;
}
a:hover {
    color: #fff;
    text-decoration: none;
}
a:focus {
    outline: none;
    text-decoration: none;
    color: #fff;
}
p { line-height: 2 }
ul,
li {
    margin: 0;
    padding: 0;
}
fieldset {
    border: 0 none;
    margin: 0 auto;
    padding: 0;
}
.section-padding { padding: 90px 0 }
.section-title { margin-bottom: 60px }
.section-title h2 {
    margin-bottom: 10px;
    padding-bottom: 15px;
    font-size: 36px;
    position: relative;
}
.section-title h2:after {
    border-bottom: 3px solid #333;
    bottom: 0;
    content: "";
    height: 3px;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    width: 10%;
}
.section-title p {
    margin: auto;
    width: 70%;
}
.breadcrumb-main{
    background:url(../img/bg/breadcrumb-bg.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    height:  350px;
    z-index:1;
}
.breadcrumb-main:after {
    background: rgba(0, 0, 0, 0.6) none repeat scroll 0 0;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.breadcrumb-title{ padding-top: 200px }
.breadcrumb-title h2{
    font-weight: 700;
    color: #fff;
}
.breadcrumb-title p,
.breadcrumb-title p a{ color: #fff }
.button{
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 25px;
    position:relative;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    color:#fff !important;
    background: #333;
    border: none;
    margin-right: 10px;
    -webkit-transition: 0.36s;
            transition:0.36s;
}
.button:focus,
.button:hover {
    transform: scale(1.05);
}
.preloader {
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -moz-box-pack: center;
    background: #122a41 none repeat scroll 0 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.spinner {
    font-size: 10px;
    height: 70px;
    margin: 0 auto;
    text-align: center;
    width: 100px;
}
.spinner > div {
    animation: 1.2s ease-in-out 0s normal none infinite running sk-stretchdelay;
    background-color: #f6f6f6;
    display: inline-block;
    height: 100%;
    width: 10px;
}
.spinner .rect2 {
    animation-delay: -1.1s;
}
.spinner .rect3 {
    animation-delay: -1s;
}
.spinner .rect4 {
    animation-delay: -0.9s;
}
.spinner .rect5 {
    animation-delay: -0.8s;
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}
@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
    }
    20% {
        transform: scaleY(1);
    }
}
.owl-carousel .item  {
    display: block;
    width: 100%;
    height: auto;
}



.header-area {
    position: relative;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.36s ease-out;
            transition: all 0.36s ease-out;
}
.sticky-wrapper {
    position: absolute;
    width: 100%;
    z-index: 999;
}
.navbar-default {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    margin-bottom: 0;
    -webkit-transition: all 0.36s ease-in-out 0s;
    transition: all 0.36s ease-in-out 0s;
    width: 100%;
}
.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus { background-color: transparent }
.navbar-brand {
    height: auto;
    padding: 0;
}
.navbar-header img {
    margin: 25px 0;
    -webkit-transition: all 0.36s ease-in-out 0s;
    -o-transition: all 0.36s ease-in-out 0s;
    transition: all 0.36s ease-in-out 0s;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus { background-color: #fff }
.navbar-default .navbar-toggle .icon-bar { background-color: #333 }
.main-menu li a {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 12px;
    padding: 40px 15px;
    -webkit-transition: all 0.36s ease-in-out 0s;
    transition: all 0.36s ease-in-out 0s;
}
.main-menu ul li:last-child a {
    background: #2da8d4;
    padding: 10px 20px;
    margin: 30px 20px;
}
.main-menu li a:hover {
    transform: scale(1.06);
}
/*.main-menu ul.nav.navbar-nav li a:hover { color: #333 !important }*/
.navbar-default .navbar-toggle { background: #fff none repeat scroll 0 0 }
.is-sticky .header-area{
    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
    box-shadow: 0px 3px 4.7px 0.3px rgba(0, 0, 0, 0.24);
}
.is-sticky .main-menu li a {
    padding: 25px 15px;
}
.is-sticky .main-menu ul.nav.navbar-nav li.active a {
    border-bottom: 2px solid #fff;
}
.is-sticky .main-menu ul li:last-child a {
    background: #2da8d4;
    padding: 5px 20px;
    margin: 20px;
}
.is-sticky .navbar-brand h1 {
    color: #333 !important;
    font-size: 24px;
    padding: 20px 0;
}
.is-sticky .navbar-header img { margin: 15px 0; }

.header-banner-area {
    background-position: center !important;
    background-size: cover !important;
}
.header-banner-text {
    padding: 200px 0 60px;
}
.header-banner-text h1, .header-banner-text p {
    color: #fff;
}
.header-banner-text h1 {
    margin-bottom: 10px;
}
.header-youtube-view {
    margin-bottom: 40px;
}
.header-youtube-view iframe,
.fetured-video iframe {
    max-width: 100%;
}
.header-signup .mc4wp-response p {
    font-weight: bold;
}
.header-signup input[type=submit] {
    background: #122a41;
    color: #fff;
    border-radius: 3px;
    padding: 12px 20px;
}
.header-signup input[type=email] {
    padding: 10px 15px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.platform-area {
    padding: 90px 0;
}
.single-platform {
    padding: 30px 40px 20px;
    border: 1px solid #fff;
    -webkit-transition: .36s;
    -o-transition: .36s;
    transition: .36s;
}
.single-platform:hover {
    border: 1px solid #c4e5f1;
    box-shadow: -15px 15px 40px #eee;
}
.single-platform h2,
.single-platform h3,
.single-platform h4,
.single-platform p { color: #747e88 }
.single-platform h3 { font-size: 26px }
.single-platform h3,
.single-platform h4 {
    font-weight: 400;
    margin-bottom: 5px;
}
.single-platform p { font-weight: 600 }
.single-platform img { margin: 15px 0 }
.platform-area h2 {
    font-size: 34px;
    font-weight: 300;
    margin-top: 45px;
}
.call-to-action {
    background: #122a41;
    color: #fff;
}
.call-to-action h2 {
    color: #fff;
    margin-bottom: 15px;
    font-size: 34px;
    text-align: center;
}
.call-to-action p {
    margin-bottom: 30px;
}
a.button.blueprints-btn {
    background: #2da8d4;
    color: #fff;
}
a.button.youtube-btn {
    background: #d70000;
    color: #fff;
    position: relative;
}
a.button.youtube-btn:before {
    position: absolute;
    content: "";
    top: -16px;
    left: -65px;
    background-image: url(../img/btn-arrow.png);
    background-repeat: no-repeat;
    background-size: 80%;
    height: 40px;
    width: 70px;
    cursor: default;
}
a.button.youtube-btn i {
    margin-right: 5px;
}
.fetured-area h2 {
    font-weight: 400;
}
.fetured-video {
    margin-bottom: 80px;
}
.fetured-video iframe {
    margin: 30px 0;
}
.fetured-area .wpb_content_element {
    margin-bottom: 0;
}
.data-fetures img {
    margin-right: 15px;
}
.data-fetures h3 {
    padding-top: 50px;
}
.data-fetures-list {
    border-left: 1px solid #2da8d4;
    padding: 15px;
}
.data-fetures-list ul{ padding-left: 0 !important; }
.data-fetures-list ul li {
    color: #2da8d4;
    margin-bottom: 10px;
    position: relative;
    padding-left: 20px;
    font-weight: 400;
    font-size: 15px;
}
.data-fetures-list ul li:before {
    position: absolute;
    content: "\f00c";
    color: #bcbcbc;
    top: 0;
    left: 0;
    font-family: FontAwesome;
    font-size: 13px;
    line-height: 1.8;
}
.testimonial-area {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}
.single-testimonial {
    position: relative;
    margin: 16px 0 100px 65px;
}
.single-testimonial:before {
    position: absolute;
    content: "";
    top: -16px;
    left: -65px;
    background-image: url(../img/quote.png);
    background-repeat: no-repeat;
    background-size: 80%;
    height: 40px;
    width: 70px;
}
.single-testimonial h2 {
    font-size: 38px;
}
.single-testimonial p {
    font-weight: 400;
    font-style: italic;
}
.before-after-incora h4 {
    color: #2da8d4;
    font-style: italic;
    margin-bottom: 10px;
}
.before-after-incora p {
    font-size: 20px;
    line-height: 1.5;
}
.clients-area h2 {
    color: #2da8d4;
    margin-bottom: 15px;
}
#logo-carousel {
    padding-left: 30px;
    padding-right: 30px;
}
.logo-carousel-item-tabel {
    display: table;
    height: 150px;
    width: 100%;
}
.logo-carousel-item-tabelcell {
    display: table-cell;
    vertical-align: middle;
}
#logo-carousel .owl-item .logo-carousel-item-tabelcell > img {
    width: auto !important;
    margin: 0 auto;
}
.footer-area {
    background: #122a41;
    color: #fff;
}
.footer-top {
    margin-bottom: 25px;
    padding-bottom: 35px;
    border-bottom: 2px solid rgba(255,255,255,0.3);
}
.footer-menu {
    margin-top: 10px;
}
.footer-menu ul li a {
    color: #fff;
    font-weight: 400;
    font-size: 14px;
}
.footer-social-icon {
    margin-top: 10px;
}
.footer-social-icon ul li {
    padding: 0 2px;
}
.footer-social-icon ul li a i {
    color: #122a41;
    height: 30px;
    width: 30px;
    background: #fff;
    text-align: center;
    line-height: 30px;
    border-radius:  50%;
}
.copyrights p {
    font-size: 14px;
}
.contact-info ul li {
    font-size: 15px;
}
.contact-info ul li i {
    margin-right: 7px;
}

.incorta-breadcrumb-area {
    background-position: center !important;
    background-size: cover !important;
    position: relative;
    background: #122a41;
    padding: 120px 0;
    z-index: 1;
}
.incorta-breadcrumb-area:after {
    background: rgba(18, 42, 65, 0.6) none repeat scroll 0 0;
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}
.incorta-breadcrumb-area,
.incorta-breadcrumb-area a {
    color: #fff
}
.incorta-breadcrumb-area h1 {
    margin-bottom: 15px;
    font-weight: 900;
    color: #fff;
}
.incorta-breadcrumb-area span[typeof="ListItem"] {
    display: inline-block;
    padding: 0 10px;
    -webkit-transition: .36s;
    transition: .36s
}
.incorta-breadcrumb-area span[typeof="ListItem"] a:hover {
    color: #ffff95
}
.incorta-internal-area.section-enable-padding {
    padding: 80px 0
}