/* Medium Layout: 1280px. */
@media only screen and (min-width: 992px) and (max-width: 1200px) { 
    
}

/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	.navbar-header,
	.navbar-brand {
		float: none;
	}
	.navbar-brand>img {
	    margin: 20px auto;
	}
	.main-menu ul {
	    float: none !important;
	    margin: 0 auto !important;
	    text-align: center !important;
	}
	.main-menu ul li {
	    margin: 0 auto !important;
	    display: inline-block;
	    float: none;
	}
	.main-menu li a {
	    padding: 10px;
	}
	.main-menu ul li:last-child a {
	    padding: 10px 15px;
	    margin: 0 10px;
	}
	.is-sticky .navbar-brand>img {
	    margin: 15px auto;
	}
	.is-sticky .main-menu li a {
	    padding: 9px;
	    margin-bottom: 10px;
	}
	.is-sticky .main-menu ul li:last-child a {
	    padding: 9px 13px;
	    margin: 0 10px;
	}
	.data-fetures h3 {
	    padding-top: 0px;
	}
	.footer-menu ul {
	    text-align: right;
	}
	.footer-social-icon ul {
	    text-align: center;
		margin-top: 20px;
	}
	.contact-info ul,
	.copyrights p {
	    text-align: center;
	}
	.copyrights p {
		margin-bottom: 15px;
	}
}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {
	.navbar-brand>img {
	    margin: 20px 0;
	    max-width: 75%;
	}
	.is-sticky .navbar-brand>img {
	    max-width: 70%;
	}
	.main-menu li a {
	    padding: 12px 15px;
	}
	.is-sticky .main-menu li a {
		padding: 12px 15px;
	}
	.navbar-default .navbar-collapse { 
	    border: none;
	    background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
	}
	.navbar-toggle {
		margin-top: 18px;
		margin-right: 0px;
		-webkit-transition: .36s;
		-o-transition: .36s;
		transition: .36s;
	}
	.is-sticky .navbar-toggle {
		margin-top: 13px;
		margin-right: 0px;
	}
	.header-banner-text {
	    padding: 150px 0 60px;
	}
	.header-signup input[type=email] {
	    margin-bottom: 10px;
	}
	a.button.youtube-btn {
		margin-bottom: 15px;
	}
	.data-fetures h3 {
	    padding-top: 15px;
	    text-align: center;
	}
	.data-fetures {
	    margin-bottom: 50px;
	}
	.data-fetures img {
	    float: none !important;
	    margin: 0 auto;
	}
	.single-testimonial {
	    text-align: center;
	}
	.single-testimonial:before {
	    top: -30px;
	    left: 0;
	}
	.before-after-incora {
	    background: rgba(255, 255, 255, 0.5294117647058824);
	    padding: 25px;
	    margin-bottom: 15px;
	}
	.footer-area {
	    text-align: center !important;
	}
	.footer-menu {
	    margin: 20px 0;
	}
	.footer-social-icon ul {
	    text-align: center;
	}
	.copyrights p {
	    margin-bottom: 12px;
	}
	.contact-info ul {
	    text-align: center;
	}
}

/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
    
}